body{
    background-color: rgb(124, 221, 161);
    color:#222222;
    font-family: Arial, sans-serif;
}
header{
    background-color:rgb(19, 136, 138) ;
    color :white;
    text-align; center;
    padding: 30px;
 }
  background-color: rgb(124, 158, 209);
 }
 
    background-color: rgb(15, 221, 43) ;
    h1{
      font-size: 36px;
    }
    h2 {
      color:#cc8fbd;
    }
    p{
      font-size: 18px;
      line-height: 1.6;
 }