body{
    background-color: rgb(4, 129, 52);
}
header{
    background-color:rgb(19, 136, 138) ;
 }
 main{
    background-color: rgb(4, 38, 88);
 }
 section{
    background-color: rgb(15, 221, 43) ;
 }